*{
    margin:5px;
}
.container{
    position:relative;
    padding:20px;
    border:2px solid black; height:300px;
}
img{
    position:absolute;
    margin:0;
    top:2px;
    left:5px;
    z-index:1;
}
h1{
    position:relative;
    z-index: 1;
}
p{
    position: relative;
    z-index:2;
}