div{
    width:300px;
    border-width:2px;
    border-style:dashed;
    border-color:aqua;
}
div>p{
    border:inherit;
}
.para1{
    border:2px solid black;
}
.para2{
    border:5px double red;
    border-bottom:10px dashed green;
}
.para3{
    border:5px dotted greenyellow;
    border-top:6px groove red;
}
.para4{
    border: 5px ridge magenta;
    border-right: 5px inset green;
}
.para1{
    border-radius:15px;
    border-radius:10px 15px 35px 20px;
}