div{
    background-color: aquamarine;
    margin:15px;
    border:2px solid red;
    padding:10px;
}
.ex1{
    width: 500px;
}
.ex2{
    max-width: 500px;
}
.ex3{
    width:100%;
    max-width:700px;
}